body{
    background-color: cadetblue;
    text-align: center;
    font-family: 'Trebuchet MS';
}

h1{
    color: gold; 
    text-transform: uppercase; /* colocar em maiúsculo*/
    font-family: Arial Black;
    letter-spacing: 3px;
}

h1:hover{
    color: blueviolet;
    cursor: crosshair;
}

input{
    border: 1px solid #ececec;
    border-radius: 3px;
    margin: 3px;
    font-size: 16px;
}

button{
    border: 2px solid tomato;
    background-color: tomato;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
}

button:hover{
    border: 2px solid tomato;
    background-color: white;
    color: tomato;
}

h3{
    background-color: yellow;
}

span{
    color: red;
}