/*CSS - Cascading Style Sheet*/

/*seletor
tag --> body
id --> #foto
classe --> .nomedaclasse
*/
body{
   /*propriedade : valor*/
   color: #3b3b3b ;
   background-color: #f9c9ff;
}

#foto{
    width: 150px;
    border-radius: 10px;
    border-top: 5px double red;
    border-bottom: 3px solid blue;
    border-right: 7px dotted fuchsia;
    border-left: 10px dashed tan;
    /*estilos: solid, dashed , dotted, double */
}

/*
cores originais
texto #3b3b3b
fundo #f9c9ff

cor dia
texto #1b1b1b
fundo #b4edff

cor tarde
texto #001483
fundo #ffb412

cor noite
texto #fcfcfc 
fundo #000744

*/